.home__header {
	margin: auto;
	width: 80%;
	margin-top: 60px;
	padding: 20px;
	display: flex;
	font-size: large;
	align-items: center;
	justify-content: center;
	background-color: #ffe6cc;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
	text-align: center;
}
.home__title {
	font-size: larger;
}
.home__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 70px;
}
.home__body_block:hover {
	/* box-shadow: 4px 20px 10px 4px #e7e7e7; */

	box-shadow: 4px 20px 19px 20px #e7e7e7;
}
.home__body_block {
	margin: 20px;
	max-width: 220px;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 44%) 0px 5px 20px;
}
.home__body_block_title {
	margin: 10px;
	background-color: #222222;
	color: white;
	padding: 9px;
	border-radius: 10px;
	font-size: 18px;
}
.home__body_block_img img {
	border-radius: 10px;
	max-width: 100%;
}
a.home__body__addQuestion {
	display: flex;
	justify-content: center;
	margin: 40px 0;
	text-decoration: none;
}

a.home__body__addQuestion button {
	border: none;
	text-decoration: none;
	padding: 16px;
	background: #ffe6cc;
	font-family: poppins;
	font-weight: bolder;
	cursor: pointer;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
}
@media only screen and (max-width: 780px) {
	.addques {
		width: 95%;
	}
}
